# Terraform
infra/terraform.exe
infra/.terraform/
.terraform/
*.exe
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Python / UV
.venv/
__pycache__/
*.pyc

# Ambiente / Segredos
.env
.env.*
!*.env.example

# Jupyter
.ipynb_checkpoints/

# Dados locais e arquivos temporários de ETL (opcional, mas recomendado)
*.csv
*.parquet
*.jsonl
/data/
/tmp/

# VS Code / IDEs
.vscode/
.DS_Store

IAM VS BUCKET POLICY.png

postos.zip

*.png

# Cache Python
__pycache__/
*.py[cod]

# Dependências e metadados de pacotes instalados localmente
scripts/bin/
scripts/dateutil/
scripts/numpy/
scripts/numpy.libs/
scripts/pandas/
scripts/pyarrow/
scripts/pytz/
scripts/six*
scripts/tzdata/
scripts/*.dist-info/

# Pacotes ZIP gerados pelo Terraform
scripts/*.zip

# Layer local temporária para MiniStack/LocalStack
infra/local_layer/

# Builds locais de Lambda
infra/scripts/lambda_build/
infra/local_layer/
dist_silver/
downloads/
scripts/downloads/
*.zip

# Pastas de build de layers e pacotes
infra/layers/
infra/scripts/lambda_build/
infra/scripts/silver_build/
*.zip