# Terraform
infra/terraform.exe
infra/.terraform/
.terraform/
*.exe
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Python / UV
.venv/
__pycache__/
*.pyc

# Ambiente / Segredos
.env
.env.*
!*.env.example

# Jupyter
.ipynb_checkpoints/

# Dados locais e arquivos temporários de ETL (opcional, mas recomendado)
*.csv
*.parquet
*.jsonl
/data/
/tmp/

# VS Code / IDEs
.vscode/
.DS_Store

IAM VS BUCKET POLICY.png

postos.zip